<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
	<RR_setting_defaultCompactMode>Окно исследований по умолчанию находится в компактном режиме.</RR_setting_defaultCompactMode>
	<RR_setting_defaultCompactMode_tooltip>Когда эта функция включена, окно списка исследовательских возможностей по умолчанию будет работать в компактном режиме.</RR_setting_defaultCompactMode_tooltip>
	
	
	<RR_setting_kitlessResearch>Разрешить полевые исследования без исследовательского набора</RR_setting_kitlessResearch>
	<RR_setting_kitlessResearch_tooltip>Когда эта функция включена, полевые исследования можно проводить без какого-либо исследовательского набора для исследовательских проектов, для которых требуется только простой исследовательский стол/набор.</RR_setting_kitlessResearch_tooltip>
	
	<RR_setting_category_selector>Выбрать категорию</RR_setting_category_selector>
	
	<RR_setting_category_enabled>Категория включена</RR_setting_category_enabled>
	<RR_setting_category_enabled_tooltip>Переключите это, чтобы полностью отключить эту категорию исследовательских возможностей.</RR_setting_category_enabled_tooltip>
	
	<RR_setting_category_availableAtOverallProgress>Доступно при общем прогрессе</RR_setting_category_availableAtOverallProgress>
	<RR_setting_category_availableAtOverallProgress_tooltip>Определяет, на каком этапе исследования доступна эта категория.</RR_setting_category_availableAtOverallProgress_tooltip>
	
	<RR_setting_category_targetIterations>Целевые итерации</RR_setting_category_targetIterations>
	<RR_setting_category_targetIterations_tooltip>Максимальные индивидуальные возможности, необходимые для завершения этой категории.</RR_setting_category_targetIterations_tooltip>
		
	<RR_setting_category_targetFractionMultiplier>Множитель целевой части</RR_setting_category_targetFractionMultiplier>
	<RR_setting_category_targetFractionMultiplier_tooltip>Сгенерированные возможности пытаются разделить стоимость исследования проекта в соответствии с относительными размерами частей категорий в зависимости от этого значения.</RR_setting_category_targetFractionMultiplier_tooltip>
	
	<RR_setting_category_infiniteOverflow>Бесконечное переполнение</RR_setting_category_infiniteOverflow>
	<RR_setting_category_infiniteOverflow_tooltip>Разрешить исследованиям в этой категории всегда продолжаться, если есть больше доступных возможностей этого типа.</RR_setting_category_infiniteOverflow_tooltip>
	
	<RR_setting_category_extraFractionMultiplier>Множитель дополнительной фракции</RR_setting_category_extraFractionMultiplier>
	<RR_setting_category_extraFractionMultiplier_tooltip>Допущено дополнительное исследование данной категории, не вошедшей в первоначальную присвоенную ей часть.</RR_setting_category_extraFractionMultiplier_tooltip>
	
	<RR_setting_category_researchSpeedMultiplier>Множитель скорости исследования</RR_setting_category_researchSpeedMultiplier>
	<RR_setting_category_researchSpeedMultiplier_tooltip>Возможности этой категории будут иметь скорость исследования, умноженную на заданный процент.</RR_setting_category_researchSpeedMultiplier_tooltip>
	
	<RR_setting_category_fractionAxis>Множитель общей целевой доли</RR_setting_category_fractionAxis>
	<RR_setting_category_researchSpeedAxis>Скорость исследования</RR_setting_category_researchSpeedAxis>
	
	<RR_setting_category_resetToDefault>Сбросить настройки</RR_setting_category_resetToDefault>
</LanguageData>