<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
	<RR_setting_defaultCompactMode>Окно исследований по умолчанию находится в компактном режиме.</RR_setting_defaultCompactMode>
	<RR_setting_defaultCompactMode_tooltip>Когда эта функция включена, окно списка исследовательских возможностей по умолчанию будет работать в компактном режиме.</RR_setting_defaultCompactMode_tooltip>
	
	
	<RR_setting_kitlessResearch>Разрешить полевые исследования без исследовательского набора</RR_setting_kitlessResearch>
	<RR_setting_kitlessResearch_tooltip>Когда эта функция включена, полевые исследования можно проводить без какого-либо исследовательского набора для исследовательских проектов, для которых требуется только простой исследовательский стол/набор.</RR_setting_kitlessResearch_tooltip>
	
	<RR_setting_basicResearchSpeedMult>Множитель скорости теории исследования</RR_setting_basicResearchSpeedMult>
	<RR_setting_basicResearchSpeedMult_tooltip>Теоретическая скорость исследования будет умножена на этот процент.</RR_setting_basicResearchSpeedMult_tooltip>
</LanguageData>